#include <windows.h>
#include "header.h"

Mymenu MENU
{
    POPUP "&Dialog" {
        MENUITEM "&Dialog\tF2", IDM_DIALOG
        MENUITEM "&Exit\tF3", IDM_EXIT
    }
    MENUITEM "&Help", IDM_HELP }
Mymenu ACCELERATORS
{
    VK_F2, IDM_DIALOG, VIRTKEY
    VK_F3, IDM_EXIT, VIRTKEY
    VK_F1, IDM_HELP, VIRTKEY }

MyDB DIALOG 10, 10, 210, 130
CAPTION "Books Dialog Box"
STYLE WS_POPUP | WS_CAPTION |WS_SYSMENU | WS_VISIBLE
{
    DEFPUSHBUTTON "Author", IDD_AUTHOR, 11, 10, 36, 14,
    WS_CHILD | WS_VISIBLE | WS_TABSTOP
    PUSHBUTTON "Publisher", IDD_PUBLISHER, 11, 34, 36, 14,
    WS_CHILD | WS_VISIBLE | WS_TABSTOP
    PUSHBUTTON "Copyright", IDD_COPYRIGHT, 11, 58, 36, 14,
    WS_CHILD | WS_VISIBLE | WS_TABSTOP
    PUSHBUTTON "Cancel", IDCANCEL, 11, 82, 36, 16,
    WS_CHILD | WS_VISIBLE | WS_TABSTOP
    LISTBOX IDD_LB1, 60, 5, 140, 33,
    LBS_NOTIFY | WS_VISIBLE |WS_VSCROLL | WS_BORDER |WS_TABSTOP
    PUSHBUTTON "Select Book", IDD_SELECT, 103, 41, 54, 14,
    WS_CHILD | WS_VISIBLE | WS_TABSTOP
    EDITTEXT IDD_EB1, 65, 73, 130, 12,
    ES_LEFT |WS_VISIBLE |WS_BORDER |ES_AUTOHSCROLL |WS_TABSTOP
    PUSHBUTTON "Title Search", IDD_DONE, 107, 91, 46, 14, WS_CHILD |
    WS_VISIBLE | WS_TABSTOP
}
